In [80]:
import pandas as pd
import numpy as np

### Import file CSV

In [81]:
df_thpt2025_ct2018 = pd.read_csv(r"C:\FPT Polytechnic\Project Tự Làm\Điểm thi thpt 2025\THPT2025_CT2018.csv")
df_thpt2025_ct2006 = pd.read_csv(r"C:\FPT Polytechnic\Project Tự Làm\Điểm thi thpt 2025\THPT2025_CT2006.csv")

### Xem thông tin DataFrame

In [82]:
df_thpt2025_ct2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1131136 entries, 0 to 1131135
Data columns (total 15 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   STT                            1131136 non-null  int64
 1   SOBAODANH                      1131136 non-null  int64
 2   Toán                           1126172 non-null  float64
 3   Văn                            1126726 non-null  float64
 4   Lí                             347599 non-null   float64
 5   Hóa                            240135 non-null   float64
 6   Sinh                           69895 non-null    float64
 7   Tin học                        7602 non-null     float64
 8   Công nghệ công nghiệp          2290 non-null     float64
 9   Công nghệ nông nghiệp          22048 non-null    float64
 10  Sử                             481293 non-null   float64
 11  Địa                            476472 non-null   float64
 12  Giáo dục kinh tế và pháp luật  246401 non-null   float64
 13  Ngoại ngữ                      357723 non-null   float64
 14  Mã môn ngoại ngữ               357723 non-null   object
dtypes: float64(12), int64(2), object(1)
memory usage: 129.4+ MB

In [83]:
df_thpt2025_ct2018.head()

,STT,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,Địa,Giáo dục kinh tế và pháp luật,Ngoại ngữ,Mã môn ngoại ngữ
0,1,1000001,5.75,7.75,NaN,7.75,8.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1000002,8.00,8.25,8.50,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1000003,6.75,8.50,8.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1000004,5.25,7.50,6.50,5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1000005,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN,5.5,6.25,NaN,NaN,NaN

In [84]:
df_thpt2025_ct2006.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22090 entries, 0 to 22089
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   STT                22090 non-null  int64
 1   SOBAODANH          22090 non-null  int64
 2   Toán               11245 non-null  float64
 3   Văn                17372 non-null  float64
 4   Lí                 4134 non-null   float64
 5   Hóa                4148 non-null   float64
 6   Sinh               1721 non-null   float64
 7   Sử                 13872 non-null  float64
 8   Địa                13109 non-null  float64
 9   Giáo dục công dân  4099 non-null   float64
 10  Ngoại ngữ          5252 non-null   float64
 11  Mã môn ngoại ngữ   5252 non-null   object
dtypes: float64(9), int64(2), object(1)
memory usage: 2.0+ MB

In [85]:
df_thpt2025_ct2006.head()

,STT,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Sử,Địa,Giáo dục công dân,Ngoại ngữ,Mã môn ngoại ngữ
0,1,1017985,9.0,NaN,8.25,8.50,3.0,NaN,NaN,NaN,NaN,NaN
1,2,1017986,NaN,8.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1017988,8.2,7.00,5.75,4.25,NaN,NaN,NaN,NaN,8.6,N1
3,4,1017989,2.2,4.75,NaN,NaN,NaN,5.75,4.25,0.0,NaN,NaN
4,5,1017990,NaN,7.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Gộp 2 bảng **'df_thpt2025_ct2018'** và **'df_thpt_2025_ct2006'** lại với nhau

In [86]:
df_thpt2025 = pd.concat([df_thpt2025_ct2018,df_thpt2025_ct2006], ignore_index = True)

In [87]:
df_thpt2025 = df_thpt2025.drop('STT', axis=1)

### Check lại thông tin dữ liệu, số dòng, số cột

In [88]:
df_thpt2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153226 entries, 0 to 1153225
Data columns (total 15 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   SOBAODANH                      1153226 non-null  int64
 1   Toán                           1137417 non-null  float64
 2   Văn                            1144098 non-null  float64
 3   Lí                             351733 non-null   float64
 4   Hóa                            244283 non-null   float64
 5   Sinh                           71616 non-null    float64
 6   Tin học                        7602 non-null     float64
 7   Công nghệ công nghiệp          2290 non-null     float64
 8   Công nghệ nông nghiệp          22048 non-null    float64
 9   Sử                             495165 non-null   float64
 10  Địa                            489581 non-null   float64
 11  Giáo dục kinh tế và pháp luật  246401 non-null   float64
 12  Ngoại ngữ                      362975 non-null   float64
 13  Mã môn ngoại ngữ               362975 non-null   object
 14  Giáo dục công dân              4099 non-null     float64
dtypes: float64(13), int64(1), object(1)
memory usage: 132.0+ MB

In [89]:
df_thpt2025.head()

,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,Địa,Giáo dục kinh tế và pháp luật,Ngoại ngữ,Mã môn ngoại ngữ,Giáo dục công dân
0,1000001,5.75,7.75,NaN,7.75,8.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000002,8.00,8.25,8.50,6.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000003,6.75,8.50,8.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000004,5.25,7.50,6.50,5.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000005,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN,5.5,6.25,NaN,NaN,NaN,NaN

#### Định nghĩa **'Mã ngoại ngữ'** và **'Tổ hợp môn'**

In [90]:
ma_ngoai_ngu = {
    'N1': 'Tiếng Anh',
    'N2': 'Tiếng Nga',
    'N3': 'Tiếng Pháp',
    'N4': 'Tiếng Trung',
    'N5': 'Tiếng Đức',
    'N6': 'Tiếng Nhật',
    'N7': 'Tiếng Hàn'
}
to_hop_diem = {
    # Khối A
    'A00': ['Toán', 'Lí', 'Hóa'],
    'A01': ['Toán', 'Lí', 'Tiếng Anh'],
    'A02': ['Toán', 'Lí', 'Sinh'],
    'A03': ['Toán', 'Lí', 'Sử'],
    'A04': ['Toán', 'Lí', 'Địa'],
    'A05': ['Toán', 'Hóa', 'Sử'],
    'A06': ['Toán', 'Hóa', 'Địa'],
    'A07': ['Toán', 'Sử', 'Địa'],
    'A08': ['Toán', 'Sử', 'Giáo dục kinh tế và pháp luật'],
    'A09': ['Toán', 'Địa', 'Giáo dục kinh tế và pháp luật'],
    'A10': ['Toán', 'Lí', 'Giáo dục kinh tế và pháp luật'],
    'A11': ['Toán', 'Hóa', 'Giáo dục kinh tế và pháp luật'],

    # Khối B
    'B00': ['Toán', 'Hóa', 'Sinh'],
    'B02': ['Toán', 'Sinh', 'Địa'],
    'B03': ['Toán', 'Sinh', 'Văn'],
    'B04': ['Toán', 'Sinh', 'Giáo dục kinh tế và pháp luật'],
    'B08': ['Toán', 'Sinh', 'Tiếng Anh'],

    # Khối C
    'C00': ['Văn', 'Sử', 'Địa'],
    'C01': ['Văn', 'Toán', 'Lí'],
    'C02': ['Văn', 'Toán', 'Hóa'],
    'C03': ['Văn', 'Toán', 'Sử'],
    'C04': ['Văn', 'Toán', 'Địa'],
    'C05': ['Văn', 'Lí', 'Hóa'],
    'C08': ['Văn', 'Hóa', 'Sinh'],
    'C12': ['Văn', 'Sử', 'Sinh'],
    'C13': ['Văn', 'Sinh', 'Địa'],
    'C14': ['Văn', 'Toán', 'Giáo dục kinh tế và pháp luật'],
    'C17': ['Văn', 'Hóa', 'Giáo dục kinh tế và pháp luật'],
    'C19': ['Văn', 'Sử', 'Giáo dục kinh tế và pháp luật'],
    'C20': ['Văn', 'Địa', 'Giáo dục kinh tế và pháp luật'],

    # Khối D
    'D01': ['Văn', 'Toán', 'Tiếng Anh'],
    'D02': ['Văn', 'Toán', 'Tiếng Nga'],
    'D03': ['Văn', 'Toán', 'Tiếng Pháp'],
    'D04': ['Văn', 'Toán', 'Tiếng Trung'],
    'D05': ['Văn', 'Toán', 'Tiếng Đức'],
    'D06': ['Văn', 'Toán', 'Tiếng Nhật'],
    'D07': ['Toán', 'Hóa', 'Tiếng Anh'],
    'D08': ['Toán', 'Sinh', 'Tiếng Anh'],
    'D09': ['Toán', 'Sử', 'Tiếng Anh'],
    'D10': ['Toán', 'Địa', 'Tiếng Anh'],
    'D11': ['Văn', 'Lí', 'Tiếng Anh'],
    'D12': ['Văn', 'Hóa', 'Tiếng Anh'],
    'D13': ['Văn', 'Sinh', 'Tiếng Anh'],
    'D14': ['Văn', 'Sử', 'Tiếng Anh'],
    'D15': ['Văn', 'Địa', 'Tiếng Anh'],
    'D20': ['Toán', 'Địa', 'Tiếng Trung'],
    'D21': ['Toán', 'Hóa', 'Tiếng Đức'],
    'D22': ['Toán', 'Hóa', 'Tiếng Nga'],
    'D23': ['Toán', 'Hóa', 'Tiếng Nhật'],
    'D24': ['Toán', 'Hóa', 'Tiếng Pháp'],
    'D25': ['Toán', 'Hóa', 'Tiếng Trung'],
    'D26': ['Toán', 'Lí', 'Tiếng Đức'],
    'D27': ['Toán', 'Lí', 'Tiếng Nga'],
    'D28': ['Toán', 'Lí', 'Tiếng Nhật'],
    'D29': ['Toán', 'Lí', 'Tiếng Pháp'],
    'D30': ['Toán', 'Lí', 'Tiếng Trung'],
    'D31': ['Toán', 'Sinh', 'Tiếng Đức'],
    'D32': ['Toán', 'Sinh', 'Tiếng Nga'],
    'D33': ['Toán', 'Sinh', 'Tiếng Nhật'],
    'D34': ['Toán', 'Sinh', 'Tiếng Pháp'],
    'D35': ['Toán', 'Sinh', 'Tiếng Trung'],
    'D42': ['Văn', 'Địa', 'Tiếng Nga'],
    'D43': ['Văn', 'Địa', 'Tiếng Nhật'],
    'D44': ['Văn', 'Địa', 'Tiếng Pháp'],
    'D45': ['Văn', 'Địa', 'Tiếng Trung'],
    'D55': ['Văn', 'Lí', 'Tiếng Trung'],
    'D63': ['Văn', 'Sử', 'Tiếng Nhật'],
    'D64': ['Văn', 'Sử', 'Tiếng Pháp'],
    'D65': ['Văn', 'Sử', 'Tiếng Trung'],
    'D66': ['Văn', 'Giáo dục kinh tế và pháp luật', 'Tiếng Anh'],
    'D68': ['Văn', 'Giáo dục kinh tế và pháp luật', 'Tiếng Nga'],
    'D70': ['Văn', 'Giáo dục kinh tế và pháp luật', 'Tiếng Pháp'],
    'D71': ['Văn', 'Giáo dục kinh tế và pháp luật', 'Tiếng Trung'],
    'D84': ['Toán', 'Tiếng Anh', 'Giáo dục kinh tế và pháp luật']
}

#### Map **'Mã ngoại ngữ'**

In [91]:
df_thpt2025['Môn ngoại ngữ'] = df_thpt2025['Mã môn ngoại ngữ'].map(ma_ngoai_ngu)

#### Dùng **'Pivot table'** để tách riêng các môn ngoại ngữ

In [92]:
df_pivot = df_thpt2025.pivot_table(
    index='SOBAODANH',
    columns='Môn ngoại ngữ',
    values='Ngoại ngữ'
).reset_index()

#### Kiểm tra lại df_pivot

In [93]:
df_pivot

Môn ngoại ngữ,SOBAODANH,Tiếng Anh,Tiếng Hàn,Tiếng Nga,Tiếng Nhật,Tiếng Pháp,Tiếng Trung,Tiếng Đức
0,1000553,7.50,NaN,NaN,NaN,NaN,NaN,NaN
1,1000555,8.75,NaN,NaN,NaN,NaN,NaN,NaN
2,1000556,7.00,NaN,NaN,NaN,NaN,NaN,NaN
3,1000557,8.75,NaN,NaN,NaN,NaN,NaN,NaN
4,1000558,7.50,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
362970,64007405,5.00,NaN,NaN,NaN,NaN,NaN,NaN
362971,64007407,3.00,NaN,NaN,NaN,NaN,NaN,NaN
362972,64007422,8.60,NaN,NaN,NaN,NaN,NaN,NaN
362973,64007423,7.80,NaN,NaN,NaN,NaN,NaN,NaN
362974,64007425,4.60,NaN,NaN,NaN,NaN,NaN,NaN

#### Merge lại với df_thpt2025 để lấy các điểm các môn ngoại ngữ

In [94]:
df_thpt2025 = df_thpt2025.merge(df_pivot, on='SOBAODANH', how='left')

In [95]:
df_thpt2025

,SOBAODANH,Toán,Văn,Lí,Hóa,Sinh,Tin học,Công nghệ công nghiệp,Công nghệ nông nghiệp,Sử,...,Mã môn ngoại ngữ,Giáo dục công dân,Môn ngoại ngữ,Tiếng Anh,Tiếng Hàn,Tiếng Nga,Tiếng Nhật,Tiếng Pháp,Tiếng Trung,Tiếng Đức
0,1000001,5.75,7.75,NaN,7.75,8.25,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000002,8.00,8.25,8.50,6.75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000003,6.75,8.50,8.75,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000004,5.25,7.50,6.50,5.50,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000005,NaN,7.00,NaN,NaN,NaN,NaN,NaN,NaN,5.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1153221,64007422,NaN,8.00,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,N1,9.75,Tiếng Anh,8.6,NaN,NaN,NaN,NaN,NaN,NaN
1153222,64007423,8.20,9.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N1,NaN,Tiếng Anh,7.8,NaN,NaN,NaN,NaN,NaN,NaN
1153223,64007424,7.80,NaN,6.25,6.50,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1153224,64007425,6.80,8.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,N1,NaN,Tiếng Anh,4.6,NaN,NaN,NaN,NaN,NaN,NaN
1153225,64007426,NaN,6.00,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Tạo thêm cột tổ hợp các môn, điều kiện cả 3 môn không bị NaN

In [96]:
for ma_khoi, mon_list in to_hop_diem.items():
    mask = df_thpt2025[mon_list].notna().all(axis=1)

    df_thpt2025.loc[mask, ma_khoi] = df_thpt2025.loc[mask, mon_list].sum(axis=1)

#### Check lại dữ liệu

In [97]:
df_thpt2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1153226 entries, 0 to 1153225
Data columns (total 97 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   SOBAODANH                      1153226 non-null  int64
 1   Toán                           1137417 non-null  float64
 2   Văn                            1144098 non-null  float64
 3   Lí                             351733 non-null   float64
 4   Hóa                            244283 non-null   float64
 5   Sinh                           71616 non-null    float64
 6   Tin học                        7602 non-null     float64
 7   Công nghệ công nghiệp          2290 non-null     float64
 8   Công nghệ nông nghiệp          22048 non-null    float64
 9   Sử                             495165 non-null   float64
 10  Địa                            489581 non-null   float64
 11  Giáo dục kinh tế và pháp luật  246401 non-null   float64
 12  Ngoại ngữ                      362975 non-null   float64
 13  Mã môn ngoại ngữ               362975 non-null   object
 14  Giáo dục công dân              4099 non-null     float64
 15  Môn ngoại ngữ                  362975 non-null   object
 16  Tiếng Anh                      356978 non-null   float64
 17  Tiếng Hàn                      552 non-null      float64
 18  Tiếng Nga                      61 non-null       float64
 19  Tiếng Nhật                     495 non-null      float64
 20  Tiếng Pháp                     408 non-null      float64
 21  Tiếng Trung                    4318 non-null     float64
 22  Tiếng Đức                      163 non-null      float64
 23  A00                            165467 non-null   float64
 24  A01                            148246 non-null   float64
 25  A02                            5708 non-null     float64
 26  A03                            16895 non-null    float64
 27  A04                            5194 non-null     float64
 28  A05                            4633 non-null     float64
 29  A06                            1363 non-null     float64
 30  A07                            295866 non-null   float64
 31  A08                            68313 non-null    float64
 32  A09                            109404 non-null   float64
 33  A10                            4976 non-null     float64
 34  A11                            1224 non-null     float64
 35  B00                            46607 non-null    float64
 36  B02                            1442 non-null     float64
 37  B03                            68901 non-null    float64
 38  B04                            1077 non-null     float64
 39  B08                            4641 non-null     float64
 40  C00                            310012 non-null   float64
 41  C01                            345639 non-null   float64
 42  C02                            237535 non-null   float64
 43  C03                            480327 non-null   float64
 44  C04                            474952 non-null   float64
 45  C05                            160916 non-null   float64
 46  C08                            43973 non-null    float64
 47  C12                            12345 non-null    float64
 48  C13                            1442 non-null     float64
 49  C14                            246298 non-null   float64
 50  C17                            1224 non-null     float64
 51  C19                            68351 non-null    float64
 52  C20                            109423 non-null   float64
 53  D01                            354273 non-null   float64
 54  D02                            61 non-null       float64
 55  D03                            407 non-null      float64
 56  D04                            4301 non-null     float64
 57  D05                            162 non-null      float64
 58  D06                            494 non-null      float64
 59  D07                            25160 non-null    float64
 60  D08                            4641 non-null     float64
 61  D09                            71203 non-null    float64
 62  D10                            54788 non-null    float64
 63  D11                            146495 non-null   float64
 64  D12                            24649 non-null    float64
 65  D13                            4413 non-null     float64
 66  D14                            71460 non-null    float64
 67  D15                            54960 non-null    float64
 68  D20                            1163 non-null     float64
 69  D21                            9 non-null        float64
 70  D22                            1 non-null        float64
 71  D23                            15 non-null       float64
 72  D24                            17 non-null       float64
 73  D25                            166 non-null      float64
 74  D26                            35 non-null       float64
 75  D27                            8 non-null        float64
 76  D28                            71 non-null       float64
 77  D29                            53 non-null       float64
 78  D30                            452 non-null      float64
 79  D31                            4 non-null        float64
 80  D32                            0 non-null        float64
 81  D33                            7 non-null        float64
 82  D34                            1 non-null        float64
 83  D35                            48 non-null       float64
 84  D42                            3 non-null        float64
 85  D43                            106 non-null      float64
 86  D44                            118 non-null      float64
 87  D45                            1177 non-null     float64
 88  D55                            451 non-null      float64
 89  D63                            174 non-null      float64
 90  D64                            128 non-null      float64
 91  D65                            1473 non-null     float64
 92  D66                            47905 non-null    float64
 93  D68                            22 non-null       float64
 94  D70                            87 non-null       float64
 95  D71                            907 non-null      float64
 96  D84                            47902 non-null    float64
dtypes: float64(94), int64(1), object(2)
memory usage: 853.4+ MB

#### Transform các cột điểm về **float**

In [ ]:
for col in df_thpt2025.columns:
    if col not in ['SOBAODANH', 'Mã môn ngoại ngữ','Môn ngoại ngữ']:      
        df_thpt2025[col] = df_thpt2025[col].astype(float)

#### Xuất file CSV để **'trực quan'** trên Power BI, Tableau hoặc trên các công cụ trực quan khác

In [99]:
df_thpt2025.to_csv('diem_thi_thpt_2025.csv', index=False, encoding='utf-8-sig')